<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Listado reactivo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <h1>Thymeleaf + SpringWebflux</h1>

    <table>
        <tr th:each="producto:${listaProductos}">
            <td th:text="${producto.numero}"></td>
            <td th:text="${producto.concepto}"></td>
            <td th:text="${producto.importe}"></td>

        </tr>
    </table>
</body>

</html>